.glow {
    position: fixed;
    width: 100vw;
    height: 1500px;
    top: -650px;
    left: -30vw;
    filter: blur(100px);
    background: radial-gradient(rgb(155, 155, 234) 5%, transparent 70%);
    z-index: -100;
}

.glow1 {
    position: fixed;
    width: 1000px;
    height: 1000px;
    bottom: -400px;
    right: -500px;
    filter: blur(100px);
    background: radial-gradient(rgb(155, 155, 234) 0%, transparent 70%);
    z-index: -100;
}
