.forgot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img-wrapper {
        width: 120px;
        translate: 0 -30px;

        img {
            width: 100%;
        }
    }
}
