<div class="forgot">
    <div class="img-wrapper">
        <img src="./assets/images/forgot-password.png" alt="forgot-password">
    </div>
    @if (isRequest()) {
    <app-request [form]="forgotPasswordForm" (done)="request = true"></app-request>
    }
    @else if (isVerification()) {
    <app-verification [form]="resetPasswordForm" [email]="forgotPasswordForm.controls.email.value" (done)="verification = true"></app-verification>
    }
    @else if (isSuccess()) {
    <app-success></app-success>
    }
</div>
