<div class="forgot">
    <div class="img-wrapper">
        <img src="./assets/images/forgot-password.png" alt="forgot-password">
    </div>
    <div class="text">
        <p class="text-title">Forgot Password?</p>
        @if (!sended) {
        <p class="description">Enter your Email address and we'll help you reset your password</p>
        }
    </div>
    @if (sended) {
    <div class="sended">
        <p class="sended-message">Reset code has been sent to your email address. Please check your inbox!</p>
    </div>
    <div class="form-wrapper">
        <form class="forgot-form reset" [formGroup]="resetPasswordForm">
            <div class="input-wrapper">
                <mat-form-field>
                    <mat-label>Verification Code</mat-label>
                    <input matNativeControl mat-input [formControl]="resetControls.verificationCode">
                    <mat-error>{{ getErrorMessage(resetControls.verificationCode) }}</mat-error>
                </mat-form-field>
            </div>
            <div class="input-wrapper">
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input matNativeControl matInput [type]="hide ? 'password' : 'text'" [formControl]="resetControls.password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error>{{ getPasswordErrorMessage(resetControls.password) }}</mat-error>
                </mat-form-field>
            </div>
            <div class="buttons-wrapper">
                <button mat-button class="cancel" (click)="onCancel()">Back</button>
                <button type="submit" mat-button class="continue" (click)="onReset()"
                    [disabled]="isResetButtonDisabled()">
                    @if (waitForResponse) {
                    <mat-spinner diameter="25"></mat-spinner>
                    }
                    @else {
                    Continue
                    }
                </button>
            </div>
        </form>
    </div>
    }
    @else {
    <div class="form-wrapper">
        <form class="forgot-form" [formGroup]="forgotPasswordForm">
            <div class="input-wrapper">
                <mat-form-field>
                    <mat-label>Email address</mat-label>
                    <input matNativeControl mat-input [formControl]="forgotControls.email">
                    <mat-error>{{ getErrorMessage(forgotControls.email) }}</mat-error>
                </mat-form-field>
            </div>
            <div class="buttons-wrapper">
                <button type="button" mat-button class="cancel" (click)="onCancel()">Cancel</button>
                <button type="submit" mat-button class="continue" (click)="onContinue()"
                    [disabled]="isContinueButtonDisabled()">
                    @if (waitForResponse) {
                    <mat-spinner diameter="25"></mat-spinner>
                    }
                    @else {
                    Continue
                    }
                </button>
            </div>
        </form>
    </div>
    }
</div>
