@if (loading) {
<app-loading-screen></app-loading-screen>
}
@else {
<app-header></app-header>
<router-outlet></router-outlet>

<div class="content" (dragover)="onDragOver($event)" (click)="onCloseDragDrop()">
    <app-search></app-search>

    @for (b of openedBags; track b.id) {
    <app-bag #bag [bag]="b" (grabStart)="onGrabStart()" (grabEnd)="onGrabEnd($event)"></app-bag>
    }

    @if (deleteBar) {
    <div class="delete-bar">
        <div class="text">
            <i class="fa-solid fa-xmark"></i>
            <p>HIDE</p>
        </div>
    </div>
    }

    @if (openedBags.length === 0) {
    <app-empty></app-empty>
    }

    <div class="chat-toggle" (click)="turnOnChat()">
        <i class="fa-solid fa-angle-up"></i>
    </div>

    @if (chat) {
    <app-chat></app-chat>
    }

    <app-password-protected></app-password-protected>
</div>

@if (dragDropController) {
<app-drag-drop-controller></app-drag-drop-controller>
}
}
