<div class="header">
    <div class="logo">
        <img src="./assets/images/cloud-logo.png" alt="">
        <p>freeCloud</p>
    </div>
    <div class="log-out-wrapper">
        <button mat-button (click)="onLogout()" id="log-out">Log Out</button>
    </div>
    <div class="profile" (click)="onProfileClick($event)">
        <img src="./assets/images/profile-pic.jpg" alt="" class="profile-pic">
        @if (optionsBar) {
        <app-options-bar (close)="onCloseOptions()"></app-options-bar>
        }
    </div>
</div>
