<footer>
    <div class="f-trademark">
        <span>© 2024 vicary.com</span>
    </div>
    <div class="f-description">
        <span>Designed in Figma, coded in Visual Studio. Built in HTML, CSS, SCSS and Vanilla
            Javascript.</span>
    </div>
    <div class="f-hyperlinks">
        <a href="mailto:wiktorcholewa98@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://github.com/vicaryy" target="_blank"><i class=" fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/wiktorcholewa" target="_blank"><i class=" fa-brands
            fa-linkedin"></i></a>
        <a href="https://t.me/vicary1" target="_blank"><i class=" fa-brands fa-telegram"></i></a>
    </div>
</footer>
