@import 'vars';

.password-protected-wrapper {
    position: absolute;
    right: 30px;
    top: 60px;

    .password-protected {

        .text {
            display: flex;
            color: var(--font-color-fourth);
            font-size: 1.2rem;
            letter-spacing: .5px;
            margin-bottom: 2px;

            i {
                translate: 0 1px;
            }

            p {
                margin-left: 4px;
                text-transform: uppercase;
            }
        }

        .password {
            display: flex;
            justify-content: center;
            border-radius: 20px;
            border: 1px solid var(--line-color);
            background-color: rgba(128, 128, 128, 0.3);
            cursor: pointer;

            &::after {
                content: "*********";
                translate: 0 5px;
                font-size: 2.5rem;
                line-height: 30px;
                color: white;
                filter: blur(2px);
            }


            &:hover {
                &::after {
                    content: "Change Password";
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    font-weight: bold;
                    font-size: 1rem;
                    translate: 0;
                    color: var(--font-color-fourth);
                    filter: blur(0px);
                }
            }
        }
    }
}
