
.login-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .text {
        margin-bottom: 25px;
        font-size: 2.4rem;
        font-weight: 500;
        color: var(--font-color-fifth);
    }

    .login-form {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .form-input {
            width: 350px;

            mat-form-field {
                width: 100%;

                .mat-form-field-required-marker {
                    font-size: 1.4rem;

                    // color: white;
                }
            }

            mat-label {
                font-size: 1.4rem;
                // color: var(--font-color-fourth);
            }

            mat-icon {
                font-size: 2.3rem;
                // color: var(--font-color-fourth);
            }

            mat-error {
                font-size: 1.3rem;
            }

            input {
                font-size: 1.4rem;
                // color: var(--font-color-fifth);
            }
        }

        .login-btn {
            height: 50px;
            margin-top: 22.75px;
            font-size: 1.6rem;
            letter-spacing: .5px;
            font-family: var(--font);
            // background-color: var(--font-color-third);
            // color: var(--font-color-fifth);
        }

        .forgot-password-router {
            color: var(--font-color-third);
            text-decoration: none;
            font-size: 1.5rem;
        }
    }

    .register-router {
        font-size: 1.5rem;
        color: var(--font-color-fourth);
        margin-top: 20px;
        width: 100%;
        text-align: left;

        a {
            color: var(--font-color-third);
            text-decoration: none;
        }
    }

    .or {
        position: relative;
        width: 100%;
        margin-top: 40px;

        p {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: .5px;
            color: var(--font-color-fourth);
        }

        div {
            position: absolute;
            top: 50%;
            left: 0;
            translate: 0% -50%;
            height: 1px;
            width: 40%;
            background-color: var(--line-color);
        }

        div:last-of-type {
            right: 0;
            left: auto;
        }
    }

    .social-buttons {
        width: 100%;
        margin-top: 40px;

        #google-button-login {
            overflow: hidden;
            min-height: 44px;
            max-height: 44px;
        }
    }
}
