<div class="encryption">
    <div class="option show">
        <div class="text">Show encryption password</div>
        <button class="info-btn" mat-button>Show</button>
    </div>

    <div class="option change">
        <div class="text">Change encryption password</div>
        <button class="info-btn" mat-button>Change</button>
    </div>

    <div class="option ask">
        <div class="text">Remember encryption password</div>
        <mat-slide-toggle checked="true"></mat-slide-toggle>
    </div>
</div>
