@import 'mixins';
@import 'vars';

.encryption {
    display: flex;
    flex-direction: column;

    .option {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        font-size: 1.4rem;

        .field {
            mat-form-field {
                height: 40px;
                width: 110px;

                mat-select {
                    font-size: 1.4rem;
                }
            }
        }

        &::after {
            content: "";
            @include position-c-a;
            top: 100%;
            width: 100%;
            height: 1px;
            background-color: var(--line-color);
        }

        button {
        }
    }

    .option:last-of-type {
        &::after {
            display: none;
        }
    }
}
