<div class="security">
    <div class="option 2fa">
        <div class="text">2FA authentication</div>
        <button class="info-btn" mat-button>Enable</button>
    </div>

    <div class="option change">
        <div class="text">Change password</div>
        <button class="info-btn" mat-button>Change</button>
    </div>

    <div class="option logged">
        <div class="text">Keep me log in</div>
        <mat-slide-toggle checked="true"></mat-slide-toggle>
    </div>

    <div class="option delete-account">
        <div class="text">Delete my account</div>
        <button class="warn-btn" mat-button>Delete</button>
    </div>
</div>
