<div class="general">
    <div class="option">
        <div class="text"></div>
        <div class="field">
            <mat-form-field>
                <!-- <mat-label>Select an option</mat-label> -->
                <mat-select value="1">
                    <mat-option value="1">Ciemny</mat-option>
                    <mat-option value="2">Jasny</mat-option>
                    <mat-option value="3">dx</mat-option>
                    <mat-option value="4">xd</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
