.register-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    translate: 0 30px;

    .img-wrapper {
        width: 160px;

        img {
            width: 100%;
        }
    }

    .text {
        margin-bottom: 25px;
        font-size: 2.4rem;
        font-weight: 500;
        color: var(--font-color-fifth);
    }

    .register-form {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .form-input {
            width: 350px;

            mat-form-field {
                width: 100%;

                .mat-form-field-required-marker {
                    color: white;
                }
            }

            mat-label {
                color: var(--font-color-fourth);
            }

            mat-icon {
                color: var(--font-color-fourth);
            }

            input {
                color: var(--font-color-fifth);
            }
        }

        .register-btn {
            height: 50px;
            margin-top: 5px;
            font-size: 1.6rem;
            letter-spacing: .5px;
            font-family: var(--font);
            background-color: var(--font-color-third);
            color: var(--font-color-fifth);

            &:disabled {
                background-color: var(--line-color);
            }
        }
    }

    .login-router {
        font-size: 1.3rem;
        color: var(--font-color-fourth);
        margin-top: 20px;
        width: 100%;
        text-align: left;

        a {
            text-decoration: none;
        }
    }

    .or {
        position: relative;
        width: 100%;
        margin-top: 40px;

        p {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: .5px;
            color: var(--font-color-fourth);
        }

        div {
            position: absolute;
            top: 50%;
            left: 0;
            translate: 0% -50%;
            height: 1px;
            width: 40%;
            background-color: var(--line-color);
        }

        div:last-of-type {
            right: 0;
            left: auto;
        }
    }

    .social-buttons {
        width: 100%;
        margin-top: 40px;

        #google-button-register {
            overflow: hidden;
            display: flex;
            justify-content: center;
            min-height: 44px;
            max-height: 44px;
        }
    }
}
