@import 'vars';
@import 'mixins';

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;

    img {
        width: 50px;
    }
}

.auth-wrapper {
    @include position-c-f;
}
