<div class="info">
    <section class="name">
        <p class="text">Name</p>
        <p class="description">freeCloud</p>
    </section>

    <section class="about">
        <p class="text">About</p>
        <p class="description">A simple and free cloud service for storing your files, offering unlimited storage. All data is encrypted on the user's side, ensuring that your files remain secure and private. Even the administrators cannot access or view your data.</p>
    </section>

    <section class="technology">
        <p class="text">Technology</p>
        <p class="description">Frontend: Angular v18.0, Electron v31.2.1</p>
        <p class="description">Backend: Java v21</p>
    </section>

    <section class="version">
        <p class="text">Version</p>
        <p class="description">freeCloud beta1.0.0</p>
    </section>

    <section class="start">
        <p class="text">Start</p>
        <p class="description">25.09.2024</p>
    </section>

    <section class="contact">
        <p class="text">Contact</p>
        <p class="description">Email: <a href="mailto:vicarycholewa@gmail.com">vicarycholewa&#64;gmail.com</a></p>
        <p class="description">Telegram: <a href="https://t.me/vicary1">vicary1</a></p>
    </section>

    <section class="links">
        <p class="text">Links</p>
        <p class="description">GitHub: <a href="https://github.com/vicaryy">vicaryy</a></p>
    </section>

</div>
