:host {
    --bgc: #fff;
    --bgc-second: #fbfbfd;
    --bgc-third: #f2f2f7;
    --bgc-fourth: rgba(10, 25, 47, 0.7);


    --font-color: #121a1f;
    --font-color-second: #7b858f;
    --font-color-third: #0071eb;
    --font-color-fourth: #64748B;

    --line-color: rgba(136, 146, 176, .3);
    --line-color-second: #CCD6F6;

    --header-color: rgba(37, 38, 40, 0.21);
    --bag-color: rgba(255, 255, 255, .7);
    --bag-color-focus: rgba(255, 255, 255, 1);
    --search-bar-color: rgba(37, 38, 40, 0.11);
    --search-bar-color-focus: rgba(255, 255, 255, .2);
    --search-font-color: #333333;
    --search-words-font-color: rgba(71, 71, 71, .5);
    --add-button-color: rgb(238, 56, 56);
    --option-bar-color: rgba(218, 236, 252, .9);
    --footer-color: #f2f2f7;

    --file-hover-color: #e8e8f2;
    // --file-hover-color: #d9d9ef;
}
