:host {
    --bgc: #fff;
    --bgc-second: #fbfbfd;
    --bgc-third: #f2f2f7;
    --bgc-fourth: rgba(10, 25, 47, 0.7);

    --font-color: #121a1f;
    --font-color-second: #7b858f;
    --font-color-third: #0071eb;
    --font-color-fourth: #64748B;

    --line-color: rgba(136, 146, 176, .3);
    --line-color-second: #CCD6F6;
}
