:host {
    --bgc: #fff;
    --bgc-second: #fbfbfd;
    --bgc-third: #f2f2f7;
    --bgc-fourth: rgba(10, 25, 47, 0.7);


    --font-color: #121a1f;
    --font-color-second: #7b858f;
    // --font-color-third: #d5baff;
    --font-color-third: #0071eb;
    --font-color-fourth: #9f9f9f;
    --font-color-fifth: rgb(227, 227, 227);

    --line-color: rgba(136, 146, 176, .3);
    --line-color-second: #CCD6F6;

    --header-color: rgba(125, 130, 139, 0.21);

    --bag-color: rgba(255, 255, 255, .7);
    --bag-color-focus: rgba(255, 255, 255, 1);
    --bag-font-color: rgb(0, 0, 0);
    --bag-font-color-second: rgb(28, 28, 28);

    --search-bar-color: rgba(255, 255, 255, .15);
    --search-bar-color-focus: rgba(255, 255, 255, .1);
    --search-font-color: #cacaca;
    --search-words-font-color: rgba(255, 255, 255, 0.5);

    --add-button-color: rgb(238, 56, 56);

    --option-bar-color: rgba(218, 236, 252, .9);

    --footer-color: rgba(242, 242, 247, .1);

    --alert-button-color: #dbe1f8;
    --alert-button-color-hover: #CCD6F6;

    --input-color-hover: rgb(248, 248, 248);

    --file-hover-color: #e8e8f2;

    --alert-color: #1f2024;
    --alert-color-success: rgba(151, 190, 100, 0.9);
    // --alert-color-success: rgba(28, 199, 28, 0.9);
    --alert-color-error: rgba(239, 83, 80, 0.9);
    // --alert-color-error: rgba(208, 68, 147, 0.9);
    // --alert-color-error: rgba(192, 0, 0, 0.9);
    --alert-color-info: rgba(70, 117, 225, 0.9);
    // --alert-color-info: rgba(100, 94, 255, 0.9);
    --alert-font-color: #fbfbfd;
    --alert-font-color-second: #9f9f9f;

    --bar-color: #35363a;


    --font: "Montserrat";

    // --file-hover-color: #d9d9ef;
    // --bgc: #fff;
    // --bgc-second: #fbfbfd;
    // --bgc-third: #f2f2f7;
    // --bgc-fourth: rgba(10, 25, 47, 0.7);


    // --font-color: #121a1f;
    // --font-color-second: #7b858f;
    // --font-color-third: #0071eb;
    // --font-color-fourth: #64748B;

    // --line-color: rgba(136, 146, 176, .3);
    // --line-color-second: #CCD6F6;

    // --header-color: rgba(37, 38, 40, 0.21);
    // --bag-color: rgba(255, 255, 255, .7);
    // --bag-color-focus: rgba(255, 255, 255, 1);
    // --search-bar-color: rgba(37, 38, 40, 0.11);
    // --search-bar-color-focus: rgba(255, 255, 255, .2);
    // --search-font-color: #333333;
    // --search-words-font-color: rgba(71, 71, 71, .5);
    // --add-button-color: rgb(238, 56, 56);
    // --option-bar-color: rgba(218, 236, 252, .9);
    // --footer-color: #f2f2f7;
    // --alert-button-color: #dbe1f8;
    // --alert-button-color-hover: #CCD6F6;
    // --input-color-hover: rgb(248, 248, 248);

    // --file-hover-color: #e8e8f2;
    // // --file-hover-color: #d9d9ef;
}
