<div class="add-wrapper" [class.active]="active">
    <button class="add-btn" (click)="toggleBlock()">
        <i class="fa-solid fa-plus"></i>
    </button>

    <div class="block">
        <h3 class="title">Add</h3>
        <div class="options">
            <button class="file-upload" (click)="emitAddFile()"><i class="fa-regular fa-file"></i>
                <p>new file</p>
            </button>
            <button class="add-folder" (click)="emitAddBag()"><i class="fa-regular fa-folder"></i>
                <p>new bag</p>
            </button>
        </div>
    </div>
</div>
