@import 'vars';

.search {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    p {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 500;
        color: var(--search-font-color);
    }

    .search-bar {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        z-index: 1000000;


        .search-input-wrapper {
            position: relative;
            height: 45px;
            width: 50%;
            max-width: 600px;
            min-width: 300px;

            input {
                height: 100%;
                width: 100%;
                padding: 0 20px 0 60px;
                border: none;
                border-radius: 60px;
                background-color: var(--search-bar-color);
                font-size: 1.8rem;
                font-family: "Montserrat";
                color: var(--search-font-color);
                outline: none;
                transition: background-color .3s, border-radius .3s;

                &:focus {
                    background-color: var(--search-bar-color-focus);
                    border: 1px solid gray;
                }
            }

            i {
                position: absolute;
                top: 50%;
                left: 30px;
                translate: -50% -50%;
                font-size: 2rem;
                color: var(--search-font-color);
            }

            .placeholder {
                display: flex;
                position: absolute;
                top: 50%;
                left: 106.5px;
                translate: -50% -50%;
                z-index: -1;

                p {
                    font-size: 1.8rem;
                    color: var(--search-words-font-color);
                }

                .words-wrapper {
                    overflow: hidden;
                    position: absolute;
                    left: 97px;
                    height: 25px;
                    width: 150px;

                    .words {
                        position: absolute;
                        top: calc(-67.5px - 22.5px);
                        transform: translateY(0);
                        animation: slide-words 12s 2s forwards;

                        p {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .search-result-wrapper {
        display: flex;
        justify-content: center;

        .search-result {
            overflow-y: scroll;
            width: 50%;
            max-width: 600px;
            min-width: 300px;
            max-height: 500px;
            padding: 0 0px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: var(--bag-color-focus);
            z-index: 1000000;
            box-sizing: border-box;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 34px 0px;
        }
    }

    &.active {
        .search-bar {
            .search-input-wrapper {
                input {
                    border-radius: 0;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
            }
        }
    }
}

@keyframes slide-words {
    0% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(20%);
    }

    25% {
        transform: translateY(20%);
    }

    30% {
        transform: translateY(40%);
    }

    50% {
        transform: translateY(40%);
    }

    55% {
        transform: translateY(60%);
    }

    75% {
        transform: translateY(60%);
    }

    80% {
        transform: translateY(80%);
    }

    100% {
        transform: translateY(80%);
    }
}
