<div class="search" [class.active]="result">
    <p class="welcome">Welcome to freeCloud</p>
    <div class="search-bar">
        <div class="search-input-wrapper">
            <div #placeholder class="placeholder">
                <p>Search for</p>
                <div class="words-wrapper">
                    <div class="words">
                        <p>anything</p>
                        <p>selfie</p>
                        <p>pdf</p>
                        <p>harry potter</p>
                        <p>flower</p>
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" [(ngModel)]="input" (ngModelChange)="search()" (click)="onClick()">
        </div>
    </div>

    @if (result) {
    <div class="search-result-wrapper">
        <div class="search-result">
            <div class="files">
                <ng-container *ngFor="let file of searchedFiles$ | async; trackBy: trackById">
                    @if (doesFileNeedsToBeDisplayed(file)) {
                    <app-file [file]="file" [inSearchBar]="true" (openInBag)="onOpenInBag($event)"></app-file>
                    }
                </ng-container>
            </div>

            @if ((searchedFiles$ | async)?.length === 0) {
                <app-empty-search></app-empty-search>
            }
        </div>
    </div>
    }
</div>
@if (result) {
<div class="backdrop" (click)="onBlur()"></div>
}
