<div class="search">
    <p class="welcome">Welcome to freeCloud</p>
    <div class="search-bar">
        <div class="search-input-wrapper">
            <div #placeholder class="placeholder">
                <p>Search for</p>
                <div class="words-wrapper">
                    <div class="words">
                        <p>everything</p>
                        <p>selfie</p>
                        <p>pdf</p>
                        <p>harry potter</p>
                        <p>flower</p>
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" [(ngModel)]="input" (ngModelChange)="search()">
        </div>
    </div>
</div>
