<div #bag class="bag" cdkDrag (cdkDragEnded)="onDragEnd($event)" (mousedown)="onFocus()">
    <div class="option-bar">
        <div class="settings-wrapper">
            <button class="settings"></button>
        </div>
        <div class="bag-logo"><i class="fa-regular fa-folder-open"></i></div>
        <div class="bag-info">
            <p class="directory"> {{ directory }}</p>
            <p class="amount">3 folders · 13 files </p>
        </div>
        <app-add class="add"></app-add>
    </div>
    <div class="files">
        <app-folder name="images"></app-folder>
        <app-folder name="movies"></app-folder>
        <app-file></app-file>
        <div class="empty-file"></div>
    </div>

    <div class="blur-block">
        <div class="grab" cdkDragHandle><i class="fa-solid fa-grip-lines"></i></div>
    </div>

    <app-alert-name></app-alert-name>
</div>

