<div #bagElement class="bag" cdkDrag (cdkDragEnded)="onDragEnd($event)" (mousedown)="onFocus()" [class.blur]="alert">
    <div class="option-bar">
        <div class="settings-wrapper">
            <button class="settings"></button>
        </div>
        <div class="bag-logo"><i class="fa-regular fa-folder-open"></i></div>
        <div class="bag-info">
            <p class="directory"> {{ bag.getFullDirectory() }}</p>
            <p class="amount">{{bag.getAmountOfBags()}} bags · {{bag.getAmountOfFiles()}} files </p>
        </div>
        <app-add class="add"></app-add>
    </div>
    <div class="files">
        @for (b of bag.bags; track $index) {
        <app-folder [bag]="b" (change)="displayAlert($event)"></app-folder>
        }
        @for (f of bag.files; track $index) {
        <app-file [file]="f" (change)="displayAlert($event)"></app-file>
        }
        <div class="empty-file"></div>
    </div>

    <div class="blur-block">
        <div class="grab" cdkDragHandle><i class="fa-solid fa-grip-lines"></i></div>
    </div>

    <ng-container *ngIf="changeNameAlert">
        <app-alert-name [element]="elementToEdit" (ok)="alertOk()" (cancel)="alertCancel()"></app-alert-name>
        <app-modal></app-modal>
    </ng-container>
    <ng-container *ngIf="deleteAlert">
        <app-alert-delete [element]="elementToEdit" (ok)="alertOk()" (cancel)="alertCancel()"></app-alert-delete>
        <app-modal></app-modal>
    </ng-container>
</div>
