<div #bag class="bag" cdkDrag (cdkDragEnded)="onDragEnd($event)" (mousedown)="onMouseDown()">
    <div class="option-bar">
        <div class="bag-logo"><i class="fa-regular fa-folder-open"></i></div>
        <div class="bag-info">
            <p class="directory"> {{ directory }} </p>
            <p class="amount">3 folders · 13 files </p>
        </div>
        <div class="add-wrapper">
            <button class="add">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="files">
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <app-file></app-file>
        <div class="empty-file"></div>
    </div>

    <div class="blur-block">
        <div class="grab" cdkDragHandle><i class="fa-solid fa-grip-lines"></i></div>
    </div>
</div>


<!-- <label for="file" class="file-upload"><i class="fa-solid fa-file-circle-plus"></i></label>
                    <input type="file" id="file" class="add-file"> -->
