@import 'vars';

.file {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 100%;
        height: 1px;
        width: 50%;
        background-color: #bfbfbf;
        transition: background-color .3s;
    }

    &:hover {
        &::after {
            background-color: transparent;
        }
    }

    .main-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 2px;
        padding: 0px;
        border-radius: 40px;
        color: var(--font-color);
        cursor: pointer;
        transition: background-color .3s, border-radius .0s .5s;


        i {
            color: var(--font-color-third);
            font-size: 1.6rem;
        }

        &:hover {
            background-color: var(--file-hover-color);


            .info {
                i {
                    opacity: 1;
                    transition: opacity .3s, transform .3s;
                }
            }
        }

        .logo {
            margin-right: 15px;
            padding: 20px 0 20px 20px;

            i {
                width: 15px;
                text-align: center;
                font-size: 1.8rem;
            }
        }

        .name {
            overflow: hidden;
            flex-grow: 1;
            padding: 20px 0;
            user-select: none;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .info {
            margin-right: 20px;
            padding: 20px 0;

            i {
                opacity: 0;
                color: var(--font-color-third);
                transition: opacity 0s, transform .3s;
            }
        }


        .state {
            min-width: 65px;
            max-width: 65px;
            min-height: 60px;
            max-height: 60px;
        }

    }




    .main-wrapper.done,
    .main-wrapper.ready {
        .download {
            padding: 20px;
            border-radius: 50px;
            transition: background-color .2s;

            &:hover {
                background-color: rgba(128, 128, 128, .08);
            }

            i {
                width: 25px;
                font-size: 1.7rem;
                transition: transform .6s;
            }
        }
    }

    .main-wrapper.ready {
        &:hover {
            .download {
                i {
                    transform: translate3d(0px, -5px, 0px) scale(1.1);
                }
            }
        }
    }

    .main-wrapper.done {

        .name {
            font-weight: 500;
        }

        .download {
            position: relative;
            border-radius: 50px;
            transition: background-color .2s;

            &:hover {
                background-color: rgba(128, 128, 128, .08);
            }

            i {
                width: 25px;
                font-size: 1.8rem;
                translate: -.5px -.5px;
                transition: transform .6s;
            }

            span {
                position: absolute;
                top: 81.5%;
                left: 49.7%;
                translate: -50% -80%;
                font-size: .8rem;
                font-weight: 600;
            }
        }
    }

    .main-wrapper.encrypt,
    .main-wrapper.decrypt {

        // .name {
        //     font-weight: 500;
        // }

        .lds-ring,
        .lds-ring div {
            box-sizing: border-box;
        }

        .lds-ring {
            display: inline-block;
            position: relative;
            // padding: 29px 32.5px;

            i {
                position: absolute;
                top: 49%;
                left: 50%;
                translate: -50% -50%;
                font-size: 1.2rem;
            }

            .description {
                position: absolute;
                bottom: 0%;
                left: 50%;
                translate: -50% -55%;
                font-size: .8rem;
                font-weight: 600;
            }
        }

        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            top: 53.5%;
            left: 47%;
            translate: -75% -90%;
            width: 26px;
            height: 26px;
            margin: 8px;
            border: 2.5px solid var(--font-color-third);
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: var(--font-color-third) transparent transparent transparent;
        }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .main-wrapper.upload,
    .main-wrapper.download {

        // .name {
        //     font-weight: 500;
        // }

        .progress-wrapper {
            position: relative;
            // min-width: 66.3px;
            // min-height: 61.5px;
            border-radius: 50px;

            .description {
                position: absolute;
                bottom: 0%;
                left: 50%;
                translate: -50% -55%;
                font-size: .8rem;
                font-weight: 600;
            }

            .progressbar {
                --percentage: var(--value);
                width: 25px;
                aspect-ratio: 1;
                border-radius: 50%;
                position: absolute;
                top: 49%;
                left: 49%;
                translate: -50% -50%;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: conic-gradient(var(--font-color-third) calc(var(--percentage) * 1%), #adf 0);
                    mask: radial-gradient(white 55%, transparent 0);
                    mask-mode: alpha;
                    -webkit-mask: radial-gradient(#0000 55%, #000 0);
                    -webkit-mask-mode: alpha;
                }

                i {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    translate: -50% -55%;
                    font-size: 1.1rem;
                }
            }
        }
    }


    .details {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 0;
        padding: 0px 20px;
        margin: 0 2px;
        box-sizing: border-box;
        background-color: var(--file-hover-color);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        transition: height .5s;

        .line {
            position: absolute;
            bottom: 0px;
            left: 50%;
            translate: -50% -50%;
            font-size: 2.5rem;
            color: var(--font-color-third);
            // color: rgba(0, 113, 235, .5);
        }

        .title {
            font-size: 1.4rem;
            margin: 15px 0 8px 0;
        }



        .name,
        .size,
        .extension,
        .created {
            display: flex;
            margin-bottom: 1px;
            font-size: 1.3rem;
            color: var(--search-font-color);

            .value-title {
                min-width: 75px;
                max-width: 75px;
                text-align: right;
            }

            .value {
                margin-left: 10px;
            }
        }

        .name {
            overflow: scroll;
            max-height: 30px;
            margin-bottom: 5px;
        }

        .created {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }


        .preview {
            display: flex;
            justify-content: center;
            margin: 10px 0 15px 0;

            img {
                width: 60%;
                border-radius: 20px;
            }
        }

        &>button {
            display: flex;
            padding: 8px 0;
            border-radius: 10px;
            transition: background-color .3s;

            p {
                margin-left: 10px;
            }

            i {
                width: 10px;
                margin-top: 1px;
                margin-left: 10px;
            }

            &:hover {
                background-color: rgb(208, 208, 236);
            }
        }

        .change-name {
            i {
                color: var(--font-color-third);
            }
        }

        .delete {
            color: var(--add-button-color);
        }
    }
}


.file.details-active {

    &::after {
        background-color: transparent;
    }

    .main-wrapper {
        border-radius: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: var(--file-hover-color);
        transition: background-color .3s, border-radius 0s;


        .info {

            i {
                opacity: 1;
                transform: rotate(90deg);
            }
        }
    }

    .details {
        height: 390px;
        transition: height .5s;

    }
}
