@import 'vars';

.settings-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 80vw;
    max-width: 600px;
    height: 400px;
    background-color: var(--bar-color);
    // border: solid 1px var(--line-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 34px 0px;
    border-radius: 15px;
    z-index: 1001;

    .settings {
        display: flex;
        flex-direction: column;
        color: var(--font-color-fifth);

        .info {
            position: relative;
            height: 60px;
            // background-color: white;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                translate: -50% -50%;
                width: 100%;
                height: 1px;
                background-color: var(--line-color);
            }

            p {
                position: absolute;
                top: 50%;
                left: 30px;
                translate: 0 -50%;
                font-size: 1.8rem;
                font-weight: 600;
            }

            .exit {
                overflow: hidden;
                position: absolute;
                top: 50%;
                right: 10px;
                translate: -50% -50%;
                width: 30px !important;
                height: 30px !important;
                min-width: unset !important;
                min-height: unset !important;
                height: 20px;
                font-size: 2rem;
                border-radius: 5px;


                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: calc(-50% + 1px) calc(-50%);
                    color: var(--font-color-fifth);
                }
            }
        }

        .content {
            display: flex;
            padding: 15px;

            .navigation {
                display: flex;
                flex-direction: column;

                button {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    padding: 10px 15px 10px 10px;
                    color: var(--font-color-fifth);
                    border-radius: 5px;
                    font-size: 1.4rem;
                    transition: background-color .2s;

                    &.active {
                        background-color: rgba(198, 198, 198, .15);
                    }

                    &:hover {
                        background-color: rgba(198, 198, 198, .15);
                    }

                    p {
                        margin-left: 10px;
                    }

                    i {
                        width: 15px;
                    }
                }
            }


            .nav-content {
                padding-left: 15px;
            }
        }
    }
}

.backdrop {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
}
